<a href="https://colab.research.google.com/github/melaniecafatti/BTE-320/blob/main/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
L = [1, 'two', 3.0, print, [5, 7, 7]] #print is a function.functions can be objects. there can also be lists in lists
L

[1, 'two', 3.0, <function print>, [5, 7, 7]]

In [ ]:
len(L)

5

In [ ]:
L[2] #indexing: starts at index 0, 1, 2, 3...

3.0

In [ ]:
L[-1] #starts from the last (-1, -2,-3....)

[5, 7, 7]

In [ ]:
L[:3] #slicing: when we have a blank start value, that means we start at 0 #start is inclusive, end is exclusive meaning 3 is not included

[1, 'two', 3.0]

In [ ]:
L[3:]

[<function print>, [5, 7, 7]]

In [ ]:
L + ['three', 9.99, 0] #CONCAT

[1, 'two', 3.0, <function print>, [5, 7, 7], 'three', 9.99, 0]

In [ ]:
3.1 * ['three', 9.99, 0] #multiply a float with a list does not work... change float to integer

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
3 * ['three', 9.99, 0]

['three', 9.99, 0, 'three', 9.99, 0, 'three', 9.99, 0]

In [ ]:
s = 'two' #ask yourself what the expression is... here you are assigning a string to the variable 's'. whenever you have an assingment you create a bond between the string and the variable
s[2] = 'b' #assign the character to the third position of the string
#this doesnt work because strings are inmutable, as soon as you create a string you cannot modify it. you can create a new string but not swap characters

TypeError: 'str' object does not support item assignment

In [ ]:
L[3] = 'b' #substitute object in position 3 with the input
L #on lists, substitutions work because they are mutable, they can be modified (unlike strings)

[1, 'two', 3.0, 'b', [5, 7, 7]]

In [ ]:
#why "for loop" over "while loop"? for loop we know how many itierations we run before we run it (range). In while loop we don't know it until the condition turns false
#you use a for loop in a list because the function len will return the length of the list and we know how many iterations we need to run in orer to run all of them

In [ ]:
for index in range(len(L)):       #itering over the items of the list
  print(L[index])

1
two
3.0
b
[5, 7, 7]

In [ ]:
for element in L:
  print(element)

1
two
3.0
b
[5, 7, 7]

In [ ]:
#to create a two dimensional array
[[...],[...],...]

[[Ellipsis], [Ellipsis], Ellipsis]

In [ ]:
L_outer = [[1,2,3],[4,5,6]] #[1,2,3] is object 0 and [4,5,6] is object 1
print(L_outer)
l = L_outer[1]
print(l)
l[0]=7
print(l)
L_outer[1] = l
L_outer

[[1, 2, 3], [4, 5, 6]]
[4, 5, 6]
[7, 5, 6]

[[1, 2, 3], [7, 5, 6]]

In [ ]:
#chain of indexes
L_outer = [[1,2,3],[4,5,6]]
print(L_outer)
L_outer[1][0] = 7
print(L_outer)

[[1, 2, 3], [4, 5, 6]]
[[1, 2, 3], [7, 5, 6]]

In [ ]:
L

[1, 'two', 3.0, 'b', [5, 7, 7]]

In [ ]:
obj.method(...)

In [ ]:
s = 'three'
L.append(s) #adds whatever you give at the end of the list
L

[1, 'two', 3.0, 'b', [5, 7, 7], 'three']

In [ ]:
s = ['three', 9.99,0] #adds it as a single object to the end of the list
L.append(s)
L

[1, 'two', 3.0, 'b', [5, 7, 7], 'three', ['three', 9.99, 0]]

In [ ]:
#if you want to add indiviual objects instead of a list as a singlel object, use L.extend
s = ['three', 9.99,0]
L.extend(s)
L

[1, 'two', 3.0, 'b', [5, 7, 7], 'three', ['three', 9.99, 0], 'three', 9.99, 0]

In [ ]:
L +['three']

[1,
 'two',
 3.0,
 'b',
 [5, 7, 7],
 'three',
 ['three', 9.99, 0],
 'three',
 9.99,
 0,
 'three']

In [ ]:
L.append(['three',4])
L

[1,
 'two',
 3.0,
 'b',
 [5, 7, 7],
 'three',
 ['three', 9.99, 0],
 'three',
 9.99,
 0,
 'three',
 ['three', 4]]

In [ ]:
L.extend(['three', 4]) #appended separately to the end of the string
L

[1,
 'two',
 3.0,
 'b',
 [5, 7, 7],
 'three',
 ['three', 9.99, 0],
 'three',
 9.99,
 0,
 'three',
 ['three', 4],
 'three',
 4]

In [ ]:
L.pop() #removes the last item of the list
L

[1,
 'two',
 3.0,
 'b',
 [5, 7, 7],
 'three',
 ['three', 9.99, 0],
 'three',
 9.99,
 0,
 'three',
 ['three', 4],
 'three']

In [ ]:
L.pop(2)
L

[1,
 'two',
 'b',
 'three',
 ['three', 9.99, 0],
 'three',
 9.99,
 0,
 'three',
 ['three', 4],
 'three']

In [ ]:
numbers = [5, 7, 2, 9, 1, 4, 8] #sort in ascending order (only works for lists of items of the same type. if its all strings it would also work)
numbers.sort()
numbers

[1, 2, 4, 5, 7, 8, 9]

In [ ]:
numbers = [5, 7, 2, 9, 1, 4, 8] #sort in descending order
numbers.sort(reverse=True)
numbers

[9, 8, 7, 5, 4, 2, 1]

In [33]:
L1 = [1, 2, 3, 4]
L2 = [1, 2, 5, 6]

for item in L1[:]:    #[:] is slicing or copyinh. blanks for start and end value corresponds to 0:length of list. here you are iterating over the copy list
  if item in L2:
    L1.remove(item)
L1

[3, 4]

tupple = composite object in python. like lists but inmutable, it cannot be modified. it looks like a list but instead of [] it has ()
t = (1, 'two', 3.0)

In [35]:
t = (1, 'two', 3.0)
t

(1, 'two', 3.0)

In [36]:
t[0]= 2 #will get an error bc u cannot modify it

TypeError: 'tuple' object does not support item assignment